{% load static %}
{% load socialaccount %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization | Universe</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'authorization/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'authorization/css/style.css' %}">
</head>

<body>

    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="{% static 'authorization/img/signin-image.jpg'%}" alt="sing up image"></figure>
                    <a href="/registration" class="signup-image-link">Create an account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign up</h2>
                    <form method="POST" class="register-form" id="login-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="username" id="your_name" placeholder="Your Username" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="your_pass" placeholder="Password" />
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                        </div>
                    </form>
                    <a href="/recovery" class="forgot-password"
                        style="text-decoration: none; color: #174875; font-weight: 500; font-size: 14px; margin-top: 0.5rem; display: block;">Forgot
                        Password?</a>
                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                            <li>
                                <a href="{% provider_login_url 'google' %}">
                                    <i class="display-flex-center zmdi zmdi-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>

</html>